<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <!-- <asp enableParentPaths="true" appAllowDebugging="true" scriptErrorSentToBrowser="true"></asp>-->
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>

</configuration>
